<%- include("../partials/head", {styles: ['header-navbar-footer', 'detail-pitchs' ], title: 'Detail pitchs' }) %>

    <body>
        <%- include("../partials/header") %>
            <section class="sectMain">
                <article class="container">
                    <div class="namePitch">
                        <h2>
                            <%= locals.pitch && pitch.name %>
                        </h2>
                    </div>
                    <div class="imgPitch">
                        <img src="/img/pitchs/<%= locals.pitch && pitch.img %>" alt="pitch-img">
                        <div class="descriptionPitch">
                            <p>
                                <%= locals.pitch && pitch.description %>
                            </p>
                        </div>
                        <div class="descriptionPitch">
                            <p>
                                <%= locals.pitch && pitch.phone %>
                            </p>
                        </div>
                        <div class="descriptionPitch">
                            <p>
                                <%= locals.pitch && pitch.email %>
                            </p>
                        </div>
                        <div class="descriptionPitch">
                            <p>
                                <%= locals.pitch && pitch.countries_id%>
                            </p>
                        </div>
                        <div class="pricePitch">
                            <p>Precio: <%= locals.pitch && pitch.hours_price %></p>
                        </div>
                    </div>
                </article>
                
                <!-- FORMULARIO DE RESERVA  -->

                <form action="/pitchs/reserve/<%= locals.pitch && pitch.id %>" method="POST">
                <section class="dateHourPitch">
                    <article class="datePitch">
                        <input type="datetime-local" step="1800" name="start_date" id="start_date">
                        <input type="datetime-local" step="1800" name="end_date" id="end_date">
                    </article>
                </section>
                <div class="buttonReserv">
                    <button type="submit">Reservar</button>
                </div>
                </form>
                    
                </section>
                

                <div class="editDestroy">
                    <a href="/pitchs/edit/<%= pitch.id %>" class="">Editar</a>
                    <form action="/pitchs/<%= pitch.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                        <button type="submit" class="">Eliminar</button>
                </div>
            </section>
            <%- include("../partials/footer") %>
    </body>

    </html>