<%- include("../partials/head", {styles: ['header-navbar-footer', 'detail-style' ], title: 'Detail pitchs' }) %>

    <body>
        <%- include("../partials/header") %>
            <section class="sectMain">
                <article class="container">
                    <div class="namePitch">
                        <h2>
                            <%= locals.pitch && pitch.name %>
                        </h2>
                    </div>
                    <div class="imgPitch">
                        <img src="/img/pitchs/<%= locals.pitch && pitch.img %>" alt="pitch-img">
                        <div class="descriptionPitch">
                            <p>
                                <%= locals.pitch && pitch.description %>
                            </p>
                        </div>
                    </div>
                </article>
                <section class="dateHourPitch">
                    <article class="datePitch">
                        <label for="dates">Fecha</label>
                        <select name="datesPitch" id="dates">
                            <option value="">28/10/2023</option>
                            <option value="">28/10/2023</option>
                            <option value="">28/10/2023</option>
                            <option value="">28/10/2023</option>
                            <option value="">28/10/2023</option>
                        </select>
                    </article>
                    <article class="hourPitch">
                        <label for="hours">Horario</label>
                        <select name="hoursPitchs" id="hours">
                            <option value="">13:00</option>
                            <option value="">13:00</option>
                            <option value="">13:00</option>
                            <option value="">13:00</option>
                            <option value="">13:00</option>
                        </select>
                    </article>
                    <div class="pricePitch">
                        <p>Precio: <%= locals.pitch && pitch.price %></p>
                    </div>
                </section>
                <div class="buttonReserv">
                    <a href=""><button>reservar</button></a>
                </div>

                <div class="editDestroy">
                    <a href="/pitchs/edit/<%= pitch.id %>" class="">EDITAR PRODUCTO</a>
                    <form action="/pitchs/<%= pitch.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                        <button type="submit" class="">ELIMINAR</button>
                </div>
            </section>
            <%- include("../partials/footer") %>
    </body>

    </html>