<%- include("../partials/head", {styles: ['header-navbar-footer', 'pitchs-style'], title: 'Detail pitchs'}) %>

<body>
    <%- include("../partials/header") %>
    <article>
        <div>
            <h2><%= locals.pitch && pitch.name %></h2>
        </div>
        <div>
            <img src="/img/pitchs/<%= locals.pitch && pitch.img %>" alt="pitch-img">
        </div>
        <div>
            <p><%= locals.pitch && pitch.description %></p>
        </div>
    </article>
        <label for="">Fecha</label>
        <select name="" id="">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
    </div>
    <div>
        <label for="">Horario</label>
        <select name="" id="">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
    </div>
    <div>
        <a href=""><button>reservar</button></a>
    </div>

    <div>
    <a href="/pitchs/edit/<%= pitch.id %>" class="">EDITAR PRODUCTO</a>
    <form action="/pitchs/<%= pitch.id %>?_method=DELETE" method="POST" style="display: inline-flex">
        <button type="submit" class="">ELIMINAR</button>
    </div>

    <%- include("../partials/footer") %>
</body>
</html>