<%- include("../partials/head", {styles: ['header-navbar-footer', 'edit-pitch',"user-style"], title: 'Edit pitchs'}) %>
<body>

    <!-- header  -->
    <%- include("../partials/header")%>
    <!-- /header -->

    <main>
        <form action="/pitchs/<%= Pitch.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div>
                <label for="name">Nombre de la sede</label>
                <input type="text" 
                id="name" 
                name="name" 
                value="<%= Pitch.name %>">
            </div>
            <div>
                <label for="countries_id">Ciudad</label><br>
                <select name="countries_id" 
                id="countries_id">
                    <option value="1">Rosario</option>
                    <option value="2">Baigorria</option>
                    <option value="3">San Pedro</option>
                </select>
            </div>
            <div>
                <label for="phone">Numero de telefono</label>
                <input type="number" 
                name="phone" 
                id="phone" 
                value="<%= Pitch.phone %>">
            </div>
            <div>
                <label for="phone">Email</label>
                <input type="email" 
                name="email" 
                id="email" 
                value="<%= Pitch.email %>">
            </div>
            <div>
                <label for="description">Descripcion</label>
                <textarea name="description" 
                id="description">
                <%= Pitch.description %>
            </textarea>
            </div>
            <div>
                <label for="hours_price">Precio por hora</label>
                <input type="number" 
                id="hours_price" 
                name="hours_price" 
                value="<%= Pitch.hours_price %>">
            </div>
            <div>
                <label for="img">Imagen de Portada</label>
                <input type="file" 
                name="img" 
                id="img"> 
            </div>
            <div>
                <button type="submit">Editar sede</button>
            </div>
        </form>
        
    </main>

    <!-- footer  -->
    <%- include("../partials/footer") %>
    <!-- /footer -->

</body>
</html>