<%- include("../partials/head", {styles: ['', ''], title: 'Edit pitchs'}) %>
<body>

    <!-- header  -->
    <%- include("../partials/header"), {styles: ['', '']} %>
    <!-- /header -->

    <main>
        <form action="/products/<%= pitchToEdit.id %>?_method=PUT" method="POST">
            <div>
                <label for="name">Nombre de la sede</label>
                <input type="text" id="name" name="name" value="<%= pitchToEdit.name %>">
            </div>

            <!-- UBICACION EXACTA  -->
            <div>
                <label for="location">Ubicacion</label>
                <input type="text" id="location" name="location" value="<%= pitchToEdit.location %>">
            </div>
            
            <!-- UBICACION POR ZONAS /// SE PODRIA APLICAR PARA MOSTRAR ZONAS DE PREFERENCIA AL USUARIO  -->

            <!-- <label for="category">Zona de la ciudad</label>
            <select name="category" id="category">
                <option value="centro">Centro</option>
                <option value="norte">Norte</option>
                <option value="sur">Sur</option>
            </select> -->

            <!-- VER EJS PARA SELECCION DE ZONAS  -->

            <div>
                <label for="time">Horarios</label>
                <input type="text" id="time" name="time" value="<%= pitchToEdit.time %>">
            </div>
            <div>
                <label for="description">Descripcion</label>
                <textarea name="description" id="description"><%= pitchToEdit.description %></textarea>
            </div>
            <div>
                <label for="price">Precio por hora</label>
                <input type="text" id="price" name="price" value="<%= pitchToEdit.price %>">
            </div>
            <div>
                <!-- CONSULTAR SI LA IMGANEN SE PUEDE EDITAR TMB  -->
                <label for="img">Imagen de Portada</label>
                <input type="file" name="img" id="img"> 
            </div>
            <div>
                <button type="submit">Editar sede</button>
            </div>
        </form>
        
    </main>

    <!-- footer  -->
    <%- include("../partials/footer"), {styles: ['', '']} %>
    <!-- /footer -->

</body>
</html>