<%- include("../partials/head", {styles: ['header-navbar-footer', 'pitchs-views'], title: 'Pitchs'}) %>

<body>
    <main>
    <!-- Header -->
    <%- include("../partials/header") %>
    <!-- /Header -->


    <div>
        <h2>ELEGÍ TU SEDE</h2>
    </div>

    <% locals.pitchs && pitchs.forEach(pitch => { %>
    <section class="">
        <a href="/pitchs/detail/<%= pitch.id %>">
        <article class="">
            <div><img src="/img/pitchs/<%= pitch.img %>" alt=""></div>
            <div>
                <h2><%=  pitch.name %></h2>
                <p><%=  pitch.description %></p>
            </div>
            <div>               
                <P><%=  pitch.location %></P>
                <p><%=  pitch.time %></p>
            </div>
        </a>
    </section>
    <% }) %>

</main>
    <!-- footer  -->
    <%- include("../partials/footer") %>
    <!-- /footer -->
</body>

</html>