<%- include("../partials/head", {styles: ['header-navbar-footer', 'pitchs-views' ], title: 'Pitchs' }) %>

    <body>
        <main>
            <!-- Header -->
            <%- include("../partials/header") %>
                <!-- /Header -->


                <div class="titlePitchs">
                    <h2>Elegí tu sede</h2>
                </div>

                <% locals.pitchs && pitchs.forEach(pitch=> { %>
                        <section class="allPitchs">
                                <div class="imgPitch">
                                    <a href="/pitchs/detail/<%= pitch.id %>">
                                        <img src="/img/pitchs/<%= pitch.img %>" alt="img-pitchs">
                                    </a>
                                </div>
                                <div class="descPitchs">
                                    <div>
                                        <span>Nombre de la cancha:</span><br>
                                        <%= pitch.name %>
                                    </div>
                                    <div>
                                        <span>Descripcion</span> <br>
                                        <%= pitch.description %>
                                    </div>
                                    <div>
                                        <span>Localidad</span><br>
                                        <%= pitch.location %>
                                    </div>
                                    <div>
                                        <span>Horarios</span> <br>
                                        <%= pitch.time %>
                                    </div>
                                </div>
                    </section>
                    <% }) %>

        </main>
        <!-- footer  -->
        <%- include("../partials/footer") %>
            <!-- /footer -->
    </body>

    </html>