<%- include("../partials/head", {styles: ['header-navbar-footer', 'profile-users' ], title: 'Profile'}) %>
<body>
    <main>
    <!-- Header -->
    <%- include("../partials/header") %>
    <!-- /Header -->

        <h1 class="firstText"> Perfil </h1>
        <h2 class="namesProfile">
            <%= locals.user?.first_name %>
            <%= locals.user && user.last_name %>
        </h2>
        <div class="imgProfile">
            <img src="/img/users/<%= locals.user && user.img %>" alt="user-img">
        </div>


        <div class="positionProfile">
            <p>Posicion: </p>
            <div><%= locals.user && user.positions_id %></div>
        </div>

        <div>
            <p>TURNOS</p>
            <!-- COMPLETAR CON INFORMACION DE TABLA PITCHES_SCHEDULES -->
        </div>




        <div class="editDestroy">
            <a href="/user/edit/<%= user.id %>" class="">Editar</a>
            <form action="/user/<%= user.id %>?_method=DELETE" method="POST">
                <button type="submit" class="">Eliminar Usuario</button>
        </div>
</main>
<!-- footer  -->
<%- include("../partials/footer")%>
<!-- /footer -->
</body>
</html>