<%- include("../partials/head", {styles: ['header-navbar-footer', 'user-style'], title: 'Profile'}) %>
<body>
    <main>
    <!-- Header -->
    <%- include("../partials/header") %>
    <!-- /Header -->

        <h1> MI PERFIL </h1>
    <body>
        <h2>Hola <%= useres.name  %> ingresaste <%= new Date(useres.timestamp) %></h2>
    </body>

</main>
<!-- footer  -->
<%- include("../partials/footer"), {styles: ['', '']} %>
<!-- /footer -->
</body>
</html>