<%- include("../partials/head", {styles: ['header-navbar-footer', 'profile-users' ], title: 'Profile'}) %>
<body>
    <main>
    <!-- Header -->
    <%- include("../partials/header") %>
    <!-- /Header -->

        <h1 class="firstText"> Que bueno verte de nuevo, <%= locals.user?.first_name %></h1>
        <!-- <h2 class="namesProfile">
            
        </h2> -->
        <div class="imgProfile">
            <img src="/img/users/<%= locals.user?.img %>" alt="user-img">
        </div>

<!-- 
        <div class="positionProfile">
            <p>Posicion: </p>
            <div><%= locals.user?.positions_id %></div>
        </div> -->

        <div class="turns">
            <!-- <p>TURNOS</p> -->
            <!-- COMPLETAR CON INFORMACION DE TABLA PITCHES_SCHEDULES -->
        </div>




        <div class="editDestroy">
            <a href="/user/edit/<%= user.id %>" class="edit-destroy-button">Editar</a>
            <form action="/user/<%= user.id %>?_method=DELETE" method="POST">
                <button type="submit" class="edit-destroy-button">Eliminar Usuario</button>
                    <button class="edit-destroy-button"><a href="/user/logout">Cerrar sesión</a></button>
            </div>
</main>
<!-- footer  -->
<%- include("../partials/footer")%>
<!-- /footer -->
</body>
</html>