<%- include("../partials/head", {styles: ['header-navbar-footer', 'user-style'], title: 'Register'}) %>

<body>
    <main>
        <!-- Header -->
        <%- include("../partials/header") %>
        <!-- /Header -->

        <div class="mainForm">
            <div>
                <h3>Formá parte de nuestra comunidad y competí contra tus amigos</h3>
            </div>

                <form action="/user/register" method="POST" enctype="multipart/form-data" class="">
                    <h4>Creá tu cuenta</h4>
                    <div>
                    <label for="firstName">Nombre</label><br>
                    <input 
                    type="text" 
                    id="firstName" 
                    name="firstName" 
                    value="<%= locals.oldData ? oldData.firstName : null %>"
                    class="<%= locals.errors && errors.firstName ? 'is-invalid' : null  %>">
                    
                    <% if (locals.errors && errors.firstName) { %>
                        <div>
                            <%= errors.firstName.msg %>
                        </div>  
                    <% } %>
                </div>
                
                <div>
                    <label for="lastName">Apellido</label><br>
                    <input type="text" 
                    id="lastName" 
                    name="lastName" 
                    value="<%= locals.oldData ? oldData.lastName : null %>">
                    
                    <% if (locals.errors && errors.lastName) { %>
                        <div>
                            <%= errors.lastName.msg %>
                        </div> 
                    <% } %>
                </div>

                <div>
                    <label for="email">Email</label><br>
                    <input type="email" id="email" name="email" value="<%= locals.oldData ? oldData.email : null %>">
                    
                    <% if (locals.errors && errors.email) { %>
                        <div>
                            <p><%= errors.email.msg %></p>
                        </div> 
                    <% } %>
                </div>
                <div>
                    <label for="phone">Número de contacto</label><br>
                    <input type="number" id="phone" name="phone" placeholder="Sin 0 ni 15" value="<%= locals.oldData ? oldData.phone : null %>">
                    
                    <% if (locals.errors && errors.phone) { %>
                        <div>
                            <%= errors.phone.msg %>
                        </div> 
                    <% } %>
                </div>
                <div>
                    <label for="location">Ubicación</label><br>
                    <input type="text" id="location" name="location" value="<%= locals.oldData ? oldData.location : null %>">
                    <% if (locals.errors && errors.location) { %>
                        <div>
                            <%= errors.location.msg %>
                        </div> 
                    <% } %>
                </div>
                <div>
                    <label for="position">Posicion</label>
                    <select name="position" id="">
                        <option value="goalkeeper">Arquero</option>
                        <option value="defender">Defensor</option>
                        <option value="forward">Delantero</option>
                    </select>
                </div>
                <div class="imgField">
                    <label for="imgPerfil">Imagen de perfil</label><br>
                    
                    <input type="file" name="imgPerfil" id="imgPerfil">
                    
                </div>
                <div>
                    <label for="password">Contraseña</label><br>
                    <input type="password" id="password" name="password" placeholder="">
                </div>
                <div>
                    <button type="reset" id="reset">Borrar</button>
                    <button type="submit" id="submit">Enviar</button>
                </div>

                
                <!-- IDEAS A DESARROLLAR  -->


                <!-- <div>
                    <label for="zone">Zona</label>
                    <select name="zone" id="">
                        <option value="center">Centro</option>
                        <option value="south">Sur</option>
                        <option value="north">Norte</option>
                    </select>
                </div> -->
                <!-- <div>
                    <label for="">Habilidad destacada</label>
                    <select name="" id="">
                        <option value=""></option>
                    </select>
                </div> -->
                <!-- <div>
                    <label for="password">Repetir contraseña</label><br>
                    <input type="password" id="password" name="password" placeholder="">
                </div> -->
                
        </div>
    </form>
    </main>
    <!-- footer  -->
    <%- include("../partials/footer") %>
    <!-- /footer -->
</body>

</html>