<%- include("../partials/head", {styles: ['header-navbar-footer', 'users-views'], title: 'Usuarios registrados'}) %>
<body>
    <!-- Header -->
    <%- include("../partials/header") %>
    <!-- /Header -->
    <h2>Usuarios registrados</h2>
    
    <% locals.users && users.forEach(user => { %>
        <section class="cardProfile">
            <a href="/user/profile/<%= user.id %>">
            <article class="">
                <div><img src="/img/users/<%= user.imgPerfil %>" alt="user-imgPerfil"></div>
                <div class="infoUsers">
                    <p><%=  user.firstName %></p>
                    <p><%=  user.lastName %></p>
                    <p><%=  user.position %></P>
                    <p><%=  user.center %></p>
            </div>
            </a>
        </section>
        <% }) %>

    <!-- APLICAR EJS PARA VER LISTADO DE USUARIOS REGISTRADOS  -->



    <!-- footer  -->
    <%- include("../partials/footer") %>
    <!-- /footer -->
</body>
    
</html>