<%- include("../partials/head", {styles: ['header-navbar-footer', 'users-views'], title: 'Usuarios registrados'}) %>

<body>
    <!-- Header -->
    <%- include("../partials/header") %>
    <!-- /Header -->
    <h2>Usuarios registrados</h2>

    <% locals.users && users.forEach(user => { %>
    <section class="cardProfile">
        <article>
            <div class="imgId">
                <a href="/user/profile/<%= user.id %>"><%= user.id %></a>
                <img src="/img/users/<%= user.img %>" alt="user-imgPerfil">
            </div>
            <div class="infoUsers">
                <div>
                    <p>Nombre</p>
                    <%=  user.first_name %>
                </div>
                <div>
                    <p>Posicion</p>
                    <%=  user.positions_id %>
                </div>
                <div>
                    <p>Apellido</p>
                    <%=  user.last_name %>
                </div>
                <div>
                    <p>Edad</p>
                    <%=  user.age %>
                </div>
            </div>
        </article>
    </section>
    <% }) %>

    <!-- APLICAR EJS PARA VER LISTADO DE USUARIOS REGISTRADOS  -->



    <!-- footer  -->
    <%- include("../partials/footer") %>
    <!-- /footer -->
</body>

</html>